


body {
    
    background-color: #BDC3C7;
    
}

#a1 {

    text-decoration: none;
    color: #000000;
    font-family: 'Alegreya Sans SC', sans-serif;    
    padding: 6px;
    margin-top: 2em;
    
}
    



h1{
  
     
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #0262C9;
  
   
}




#a8:hover {
  
  background-color: #9fdfff;
  opacity: 0.8;    
  
  
}


#button {
    
    background-image: url('MENU.svg');
    background-color: absolute;
    border: none;
    background-size: 3em;
    height: 1.2em;
    width: 2.2em;
    position: absolute;
    top: 6em;
    left: 1em;
    
}

.a2 {
    
    text-decoration: none;
    color: #0262C9;
    
}



#a8 {
    
    display: block;
    text-decoration: none;
    color: #2980B9;
    font-family: "josefin-sans";
    padding: 1.2em;
    
    
}

#box-contain {
    
    height: 33.98em;
    width: 20em;
    position: absolute;
    top: 15em;
    left: 10em;
    background-color: #fff;
    opacity: 50;
    text-align: center;
    
    
}

#a1:hover {
    
     background-color: #9fdfff;
  opacity: 0.8;    
  
  
}

#p1 {
    
    color: #108EC4;
    font-family: "Lato";
    font-size: 2em;
    position: absolute;
    top: 4.5em;
    left: 6.6em;
    
}

#box2 {
    
    height: 3.4em;
    width: 20em;
    position: absolute;
    top: 15em;
    left: 32em;
    background-color: #fff;
    opacity: 50;
    text-align: center;
    
}
    
#p2 {
    
    color: #108EC4;
    font-family: "Lato";
    font-size: 2em;
    position: absolute;
    top: -2.95em;
    left: 3.5em;
    
}
    
.a12 {


font-family: 'Raleway', sans-serif;
font-size: 3em;
position: absolute;
top: 11em;
left: 1.8em;
color: #186BA1;


}
    
#box3 {

height: 7.9em;
width: 20em;
position: absolute;
left: 0em;
top: 40em;
background-color: #fff;
opacity: 50;
text-align: center;

}
    
 .a16 {

font-family: 'Raleway', sans-serif;
font-size: 3em;
position: absolute;
top: 1em;
left: 2em;
color: #186BA1;

 }   

 .a17 {



 }
    
#box4 {

    height: 3.4em;
    width: 20em;
    position: absolute;
    top: 13em;
    left: 0em;
    background-color: #fff;
    opacity: 50;
    text-align: center;

}  
    
